<!-- ===================== SEARCH BAR ===================== -->
<div class="search-bar-parent">
  <div class="search-bar">
    <input class="po-id" type="text" placeholder="CRQ - CRQ0000005963007" [ngModel]="crqSearch" (ngModelChange)="crqSearchChange.emit($event)">
  </div>
  <div class="search-bar2">
    <input class="po-id" type="text" placeholder="PO ID - 110039400" [ngModel]="poIdSearch" (ngModelChange)="poIdSearchChange.emit($event)">
  </div>
  <div class="search-bar3" role="button" tabindex="0" (click)="search.emit()" (keyup.enter)="search.emit()">
    <div class="search">Search</div>
  </div>
  <div class="search-bar4" role="button" tabindex="0" (click)="reset.emit()" (keyup.enter)="reset.emit()">
    <div class="reset">Reset</div>
  </div>
</div>

<!-- ===================== PLANNED OUTAGES PANEL ===================== -->
<div class="panel-shift">

  <!-- PANEL BACKGROUND -->
  <div class="rectangle-div"></div>

  <!-- SECTION HEADER -->
  <div class="planned-outages-3-parent">
    <b class="planned-outages-3">Planned Outages ({{ plannedOutages.length }})</b>
    <div class="container4">
      <img class="container-child" src="/assets/planned outage icon.svg" alt="">
    </div>
  </div>

  <div class="select" role="button" tabindex="0" [attr.aria-expanded]="isSortOpen" (click)="toggleSort()" (keyup.enter)="toggleSort()">
    <div class="sort-by">{{ sortBy }}</div>
    <img class="chevrondown-icon" [class.dropdown-open]="isSortOpen" src="/assets/Dropdown-topbar.svg" alt="">

    <div class="sort-panel" *ngIf="isSortOpen" (click)="$event.stopPropagation()">
      <div
        class="sort-option"
        *ngFor="let option of sortOptions"
        role="button"
        tabindex="0"
        [class.is-active]="option === sortBy"
        (click)="$event.stopPropagation(); selectSort(option)"
        (keyup.enter)="selectSort(option)"
      >{{ option }}</div>
    </div>
  </div>

  <div class="button4" role="button" tabindex="0" (click)="createPo.emit()" (keyup.enter)="createPo.emit()">
    <div class="create-po">Create PO</div>
    <svg class="material-symbolsadd-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 5v14M5 12h14" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </div>

  <div class="button5" role="button" tabindex="0" (click)="exportClick.emit()" (keyup.enter)="exportClick.emit()">
    <div class="export">Export</div>
  </div>

  <img class="frame-icon" src="/assets/im-3-refresh.svg" alt="Refresh" role="button" tabindex="0" (click)="refreshClick.emit()" (keyup.enter)="refreshClick.emit()">

  <!-- ===================== TABLE ===================== -->
  <div class="table-scroll-container">
    <table class="outage-table">
      <thead>
        <tr>
          <th>Planned outage id</th>
          <th>CRQ</th>
          <th>Change type</th>
          <th>Impact</th>
          <th>Status</th>
          <th>Implementer</th>
          <th>Description</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Reason</th>
          <th>Submission</th>
          <th class="mail-po-cell">Mail PO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let outage of plannedOutages">
          <td>{{ outage.outageId }}</td>
          <td>{{ outage.crq }}</td>
          <td><span class="change-type-pill">{{ outage.changeType }}</span></td>
          <td class="impact-cell">{{ outage.impact }}</td>
          <td>{{ outage.status }}</td>
          <td>{{ outage.implementer }}</td>
          <td>{{ outage.description }}</td>
          <td>{{ outage.startDate }}</td>
          <td>{{ outage.endDate }}</td>
          <td>{{ outage.reason }}</td>
          <td class="submission-cell">{{ outage.submission }}</td>
          <td class="mail-po-cell">
            <img
              class="phexport-bold-icon2"
              src="/assets/mail po icons.svg"
              alt="View row"
              role="button"
              tabindex="0"
              (click)="selectOutage.emit(outage)"
              (keyup.enter)="selectOutage.emit(outage)"
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
