<!-- ===================== PANEL BACKGROUND ===================== -->
<div class="the-djp-change-management-child2"></div>

<div class="button6" role="button" tabindex="0" (click)="assigneeClick.emit()" (keyup.enter)="assigneeClick.emit()">
  <img class="icon2" src="/assets/cm-3-ic1.svg" alt="Assignee">
</div>
<div class="button7" role="button" tabindex="0" (click)="notifyClick.emit()" (keyup.enter)="notifyClick.emit()">
  <img class="icon2" src="/assets/cm-3-ic2.svg" alt="Notifications">
</div>
<div class="button8" role="button" tabindex="0" (click)="moreOptionsClick.emit()" (keyup.enter)="moreOptionsClick.emit()">
  <img class="icon2" src="/assets/cm-3-ic3.svg" alt="More options">
</div>

<!-- ===================== DETAIL PANEL ===================== -->
<div class="rectangle-group" *ngIf="selectedOutage">
  <div class="group-inner"></div>

  <div class="container5">
    <div class="tab-pill" [style.left.px]="activeTab.left" [style.width.px]="activeTab.width"></div>
    <div
      class="tab-button"
      *ngFor="let tab of tabs"
      [style.left.px]="tab.left"
      [style.width.px]="tab.width"
      [class.is-active]="activeDetailTab === tab.key"
      role="button"
      tabindex="0"
      (click)="setDetailTab(tab.key)"
      (keyup.enter)="setDetailTab(tab.key)"
    >{{ tab.label }}</div>
  </div>

  <div class="field-grid" *ngIf="activeDetailTab === 'plannedOutage'">

    <!-- Column 1 -->
    <div class="field-column">
      <div class="field-row">
        <div class="field-label">Planned outage id</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="selectedOutage.outageId">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Change description</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="selectedOutage.description">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Change type</div>
        <div class="field-box">
          <select class="field-select" [(ngModel)]="selectedOutage.changeType">
            <option *ngFor="let opt of changeTypeOptions" [ngValue]="opt">{{ opt }}</option>
          </select>
          <img class="field-icon" src="/assets/Dropdown-topbar.svg" alt="">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Outage reason</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="selectedOutage.reason">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Planned start date</div>
        <div class="field-box">
          <input class="field-input" type="datetime-local" [(ngModel)]="startDateInput">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Request crq</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="selectedOutage.crq">
        </div>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="field-column">
      <div class="field-row">
        <div class="field-label">Status</div>
        <div class="field-box">
          <select class="field-select" [(ngModel)]="selectedOutage.status">
            <option *ngFor="let opt of statusOptions" [ngValue]="opt">{{ opt }}</option>
          </select>
          <img class="field-icon" src="/assets/Dropdown-topbar.svg" alt="">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Request mail id</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="selectedOutage.implementer">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Benefit of change</div>
        <div class="field-box">
          <select class="field-select" [(ngModel)]="benefitOfChange">
            <option *ngFor="let opt of benefitOptions" [ngValue]="opt">{{ opt }}</option>
          </select>
          <img class="field-icon" src="/assets/Dropdown-topbar.svg" alt="">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Duration in min</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="durationInMin">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Planned end date</div>
        <div class="field-box">
          <input class="field-input" type="datetime-local" [(ngModel)]="endDateInput">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Change type</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="changeTypeCategory">
        </div>
      </div>
    </div>

    <!-- Column 3 -->
    <div class="field-column">
      <div class="field-row">
        <div class="field-label">Category</div>
        <div class="field-box">
          <select class="field-select" [(ngModel)]="category">
            <option *ngFor="let opt of categoryOptions" [ngValue]="opt">{{ opt }}</option>
          </select>
          <img class="field-icon" src="/assets/Dropdown-topbar.svg" alt="">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Creation date</div>
        <div class="field-box">
          <input class="field-input" type="datetime-local" [(ngModel)]="creationDateInput">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Activity location</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="activityLocation">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Implementer</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="selectedOutage.implementer">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Impact</div>
        <div class="field-box">
          <select class="field-select" [(ngModel)]="selectedOutage.impact">
            <option *ngFor="let opt of impactOptions" [ngValue]="opt">{{ opt }}</option>
          </select>
          <img class="field-icon" src="/assets/Dropdown-topbar.svg" alt="">
        </div>
      </div>

      <div class="field-row">
        <div class="field-label">Outage reason</div>
        <div class="field-box">
          <input class="field-input" type="text" [(ngModel)]="selectedOutage.reason">
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="activeDetailTab === 'additionalDetails'">
    <!-- TODO: additional details fields -->
  </div>

  <div *ngIf="activeDetailTab === 'outageCommunications'">
    <!-- TODO: outage communications thread -->
  </div>

</div>
