<div class="tablerprogress-down"></div>

<div class="the-djp-change-management-child"></div>

<img class="airtel-logo-4-icon" src="/assets/Airtel-logo 5.png" alt="Airtel logo">

<div class="text-input">
  <input
    type="text"
    class="select-bin"
    [ngModel]="searchQuery"
    (ngModelChange)="searchQueryChange.emit($event)"
    placeholder="Search for services..."
    (keyup.enter)="search.emit()"
    aria-label="Search for services"
  />
  <img class="icon" src="/assets/im-1-searchbutton.svg" alt="Search" role="button" tabindex="0" (click)="search.emit()" (keyup.enter)="search.emit()">
</div>

<div class="button-wrapper">
  <div class="button">
    <img class="famiconstime-outline" src="/assets/im-1-time.svg" alt="">
    <div class="container">
      <div class="container2">
        <div class="last-updated">Last Updated</div>
      </div>
      <div class="container3">
        <div class="am-28042024">{{ lastUpdated }}</div>
      </div>
    </div>
  </div>
</div>

<div class="change-management">Change management</div>
<img class="the-djp-change-management-item" src="/assets/im-1-playbutton.svg" alt="">

<div class="button2" role="button" tabindex="0" (click)="refreshClick.emit()" (keyup.enter)="refreshClick.emit()">
  <img class="material-symbolsmenu-rounded-icon" src="/assets/im-1-refresh.svg" alt="Refresh">
</div>
<div class="button3" role="button" tabindex="0" (click)="menuClick.emit()" (keyup.enter)="menuClick.emit()">
  <img class="material-symbolsmenu-rounded-icon" src="/assets/im-1-menu.svg" alt="Menu">
</div>
